<H1>Employee</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && employeeForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && login.invalid">Enter at least 5 characters in Login</div>
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && name.invalid">Enter at least 5 characters in Name</div>
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && id.invalid">Enter at least 5 characters in ID</div>

  <form (ngSubmit)="!employeeForm.invalid && saveEmployee()" #employeeForm="ngForm">
    <div class="row mb-4">
      <div class="col">
        <fieldset class="form-group">
          <label>ID</label>
          <input type="text" #id="ngModel"
                 [(ngModel)]="employee.id" class="form-control"
                 name="id" required="required" minlength="5">
        </fieldset>
      </div>
      <div class="col">
        <fieldset class="form-group">
          <label>Login</label>
          <input type="text" #login="ngModel"
                 [(ngModel)]="employee.login" class="form-control"
                 name="login" required="required" minlength="5">
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <fieldset class="form-group">
          <label>Name</label>
          <input type="text" #name="ngModel"
                 [(ngModel)]="employee.name" class="form-control"
                 name="name" required="required" minlength="5">
        </fieldset>
      </div>
      <div class="col">
        <fieldset class="form-group">
          <label>Salary</label>
          <input type="number" #salary="ngModel"
                 [(ngModel)]="employee.salary" class="form-control"
                 name="salary" required="required">
        </fieldset>
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-3">Save</button>

  </form>
</div>
