<h1> Employees </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container mt-4 employee">

  <div class="row">
    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Salary From</mat-label>
        <input type="number" matInput placeholder="1000" #minSalary>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Salary To</mat-label>
        <input type="number" matInput placeholder="5000" #maxSalary>
      </mat-form-field>
    </div>
    <div class="col-6"></div>
  </div>

  <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>-->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID</th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</th>
      <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="login"> Login</th>
      <td mat-cell *matCellDef="let employee"> {{employee.login}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="salary"> Salary</th>
      <td mat-cell *matCellDef="let employee"> {{employee.salary | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options</th>
      <td mat-cell *matCellDef="let employee">
        <button mat-raised-button color="primary" (click)="updateEmployee(employee.id)" class="m-2">
          <mat-icon>edit</mat-icon>
          Update
        </button>
        <button mat-raised-button color="warn" (click)="openModal(delete)" class="m-2">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <ng-template #delete>
          <div class="modal-body text-center">
            <h4>Do you want to delete?</h4>
            <button mat-raised-button color="warn" (click)="deleteEmployee(employee.id)" class="m-2">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button mat-raised-button color="primary" (click)="decline()" class="m-2">
              <mat-icon>cancel</mat-icon>
              Back
            </button>
          </div>
        </ng-template>
        <!--<button mat-raised-button color="warn" (click)="deleteEmployee(employee.id)" class="m-2">
          <mat-icon>delete</mat-icon>
          Delete
        </button>-->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>

  <mat-paginator [length]="100" [pageSize]="30"
                 [pageSizeOptions]="[5, 10, 30, 50, 100]"></mat-paginator>

  <div class="row mt-4">
    <div class="col">
      <button mat-raised-button (click)="addEmployee()" class="m-2 bg-success text-white">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </div>
  </div>

</div>

<!-- BOOTSTRAP TABLE-->

<!--<table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Login</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.login}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button (click)="updateEmployee(employee.id)" class="btn btn-success mx-2">Update</button>
        <button (click)="deleteEmployee(employee.id)" class="btn btn-warning">Delete</button>
      </td>
    </tr>
    </tbody>

  </table>-->
