<h1> Employees </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container mt-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Login</th>
      <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Salary</th>
      <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="updateEmployee(element.id)" class="m-2">
          <mat-icon>edit</mat-icon>
          Update
        </button>
        <button mat-raised-button color="warn" (click)="openModal(delete)" class="m-2">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <ng-template #delete>
          <div class="modal-body text-center">
            <h4>Do you want to delete?</h4>
            <button mat-raised-button color="warn" (click)="deleteEmployee(element.id)" class="m-2">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button mat-raised-button color="primary" (click)="decline()" class="m-2">
              <mat-icon>cancel</mat-icon>
              Back
            </button>
          </div>
        </ng-template>
        <!--<button mat-raised-button color="warn" (click)="deleteEmployee(element.id)" class="m-2">
          <mat-icon>delete</mat-icon>
          Delete
        </button>-->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="row mt-4">
    <div class="col">
      <button mat-raised-button (click)="addEmployee()" class="m-2 bg-success text-white">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </div>
  </div>

</div>

<!-- BOOTSTRAP TABLE-->

<!--<table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Login</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.login}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button (click)="updateEmployee(employee.id)" class="btn btn-success mx-2">Update</button>
        <button (click)="deleteEmployee(employee.id)" class="btn btn-warning">Delete</button>
      </td>
    </tr>
    </tbody>

  </table>-->
